@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #EFEFEF;
    color: #222222;
}
.header-container h1{
    font-family: "Poppins";
    color: #1FA6B6;
    text-align: center;
}
h3{
    font-weight: normal;
    text-align: center;
}
footer.rodapé{
    background-color:#3A3A3A;
    color:#FFFFFF;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
main{
    margin:0rem;
}
section.apresentação{
    text-align: center;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0rem 1rem 3rem 1rem;
}
.fundo{
    background-color: #F06449;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top:2rem;
    border-radius: 0.5rem;
}
section.apresentação p{
    margin: 0.7rem;
}
section.foto-container{
    display:flex;
    justify-content: center;
    margin-top: 2rem;
}
.foto-container img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
}
.midias {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5rem;
    font-size: 20px;
}
section.informações {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.informações p{
    margin:0.7rem;
}
.informações h2{
    margin-bottom: 0;
}